@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 100%;
}

.drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

.drag-item {
    background-image: url(./image.jpg);
    background-position: center;
    background-size: cover;
    width: 78px;
    height: 78px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* border: 1px solid red; */
}

.hold {
    border: 5px solid red;
}

.hovered {
    background-color: #333;
    border-color: #fff;
    border-style: dashed;
}