@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #00c78b;
}

button {
    background-color: #00c78b;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    font-size: 1.5em;
    padding: 7px 15px;
    box-shadow: 5px 5px 5px #00000099;
    cursor: pointer;
}

button:active {
    transform: scale(.99);
}

.toast-box {
    position: relative;
    border: none;
    border-radius: 7px;
    padding: 1em 2em;
    box-shadow: 5px 5px 5px #00000099;
    background-color: #ececec;
    color: #fff;
    font-size: 1.1em;
    transition: opacity .5s linear;
    opacity: .8;
    margin: 20px;
}

.toasts-container {
    position: absolute;
    right: 70px;
    bottom: 70px;
}